openapi: 3.2.0
info:
  title: Elixir Medical Website Content API (WordPress REST wp/v2) Search API
  version: wp/v2
  description: 'Read/write REST surface exposed by elixirmedical.com, the corporate website of Elixir Medical Corporation. This is the WordPress core REST API (`wp/v2` namespace) served by the marketing site — it carries pages, posts, media, taxonomies and the site''s custom post types. It is NOT a product, device, or clinical API, and Elixir Medical does not operate a developer program or publish this contract.


    PROVENANCE: this document was DERIVED by API Evangelist from the route-descriptor document the site itself serves at https://elixirmedical.com/wp-json/wp/v2. Every path, HTTP method, parameter name, type, default and enum below is a verbatim transcription of that descriptor. Nothing was invented. Response schemas are intentionally left open ({}) because the descriptor does not publish them.


    This document models the CONTENT surface of the namespace (posts, pages, media, categories, tags, comments, users, search, types, taxonomies, statuses, and the site custom post types). The remaining descriptor routes are WordPress editor/admin plumbing and are preserved verbatim in openapi/_original/elixir-medical-wp-v2-routes.json.


    Read operations on content collections were observed to answer anonymously; write operations require WordPress application-password authentication.'
  contact:
    name: Elixir Medical
    email: info@elixirmedical.com
    url: https://elixirmedical.com/us/contact-us/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://elixirmedical.com/wp-json/wp/v2
  x-not-published-by-provider: true
servers:
- url: https://elixirmedical.com/wp-json
tags:
- name: search
paths:
  /wp/v2/search:
    get:
      operationId: getSearch
      tags:
      - search
      summary: GET /wp/v2/search
      description: Derived from the WordPress REST route descriptor published at https://elixirmedical.com/wp-json/wp/v2. Parameter names, types, defaults and enums are verbatim from that descriptor.
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - e-floating-buttons
            - elementor_library
            - elementskit_content
            - elementskit_template
            - popup
            - popup_theme
            - category
            - post_tag
            - wpfm_designations
            - any
        description: Limit results to items of one or more object subtypes.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: wpml_language
        in: query
        required: false
        schema:
          type: string
          enum:
          - ar
          - en
          - id
          - vi
        description: WPML's language code
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or invalid id (`rest_no_route` / `rest_*_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST error envelope, observed live on this host.
      properties:
        code:
          type: string
          examples:
          - rest_no_route
          - rest_forbidden
          - rest_post_invalid_id
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords. The site's own discovery document declares the authorization endpoint at https://elixirmedical.com/wp-admin/authorize-application.php
